@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 100;
   font-display: swap;
   src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
        local('Noto Sans Thin'), local('NotoSans-Thin'),
        url(font/NotoSansKR-Thin.eot),
        url(font/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),
        url(font/NotoSansKR-Thin.woff2) format('woff2'),
        url(font/NotoSansKR-Thin.woff) format('woff'), 
        url(font/NotoSansKR-Thin.otf) format('opentype');       
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 300;
   font-display: swap;
   src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
        local('Noto Sans Light'), local('NotoSans-Light'),
        url(font/NotoSansKR-Light.eot),
        url(font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),   
        url(font/NotoSansKR-Light.woff2) format('woff2'),
        url(font/NotoSansKR-Light.woff) format('woff'),
        url(font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), 
		local('Noto Sans Regular'), local('NotoSans-Regular'),
        url(font/NotoSansKR-Regular.eot),
        url(font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),   
        url(font/NotoSansKR-Regular.woff2) format('woff2'),
        url(font/NotoSansKR-Regular.woff) format('woff'), 
        url(font/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;  
   font-display: swap; 
   src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), 
        local('Noto Sans Medium'), local('NotoSans-Medium'),
        url(font/NotoSansKR-Medium.eot),
        url(font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),   
        url(font/NotoSansKR-Medium.woff2) format('woff2'),
        url(font/NotoSansKR-Medium.woff) format('woff'),
        url(font/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
        local('Noto Sans Bold'), local('NotoSans-Bold'),
        url(font/NotoSansKR-Bold.eot),
        url(font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),   
        url(font/NotoSansKR-Bold.woff2) format('woff2'),
        url(font/NotoSansKR-Bold.woff) format('woff'), 
        url(font/NotoSansKR-Bold.otf) format('opentype');
 }